* {
    border: 2px red;
}

body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(81, 152, 233);
}

p {
    color: white;
    background-color: black;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 24px;
}

ul,
ol {
    font-size: 24px;
    background-color: rgb(179, 245, 73);
}
